# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# turbo
.turbo/

# coverage / tests
coverage/

# logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# prisma generated client (regenerated)
apps/api/src/generated/
